In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
df_categories = pd.read_csv('./steam_data/categories.csv')
df_descriptions = pd.read_csv('./steam_data/descriptions.csv', quotechar='"', escapechar="\\", encoding="utf-8", on_bad_lines="skip")
df_games = pd.read_csv('./steam_data/games.csv', quotechar='"', escapechar="\\", encoding="utf-8", on_bad_lines="skip")
df_genres = pd.read_csv('./steam_data/genres.csv')
df_promotional = pd.read_csv('./steam_data/promotional.csv', quotechar='"', escapechar="\\", encoding="utf-8", on_bad_lines="skip")
df_reviews = pd.read_csv('./steam_data/reviews.csv', quotechar='"', escapechar="\\", encoding="utf-8", on_bad_lines="skip")
df_tags = pd.read_csv('./steam_data/tags.csv')
df_steamspy_insights = pd.read_csv('./steam_data/steamspy_insights.csv', quotechar='"', escapechar="\\", encoding="utf-8", on_bad_lines="skip")

/var/folders/kl/f84_8w7x3kg1ccbk5n2lqjg40000gn/T/ipykernel_20887/2514894641.py:6: DtypeWarning: Columns (1,3,4,5,9,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_reviews = pd.read_csv('./steam_data/reviews.csv', quotechar='"', escapechar="\\", encoding="utf-8", on_bad_lines="skip")

In [37]:
df_categories.head()

   app_id                 category
0      10           Family Sharing
1      10             Multi-player
2      10               Online PvP
3      10                      PvP
4      10  Shared/Split Screen PvP

In [33]:
about_text = df_descriptions[df_descriptions.app_id == 4710]["about"].iloc[0]
print(about_text)

<p>Take command of your army and expand your reign in Medieval II - the fourth installment of the award-winning Total War series of strategy games. Direct massive battles featuring up to 10,000 bloodthirsty troops on epic 3D battlefields, while presiding over some of the greatest Medieval nations of the Western and Middle Eastern world. Spanning the most turbulent era in Western history, your quest for territory and power takes you through Europe, Africa, and the Middle East, and even onto the shores of the New World.</p>
					<p>You'll manage your empire with an iron fist, handling everything from building and improving cities to recruiting and training armies. Wield diplomacy to manipulate allies and enemies, outsmart the dreaded Inquisition, and influence the Pope. Lead the fight in the Crusades and bring victory to Islam or Christianity in the Holy War. Rewrite history and conquer the world. This is Total War!</p>
					<ul>
					<li>Bigger and better real-time battles. Improved combat choreography, larger armies, quicker pace, and spectacular finishing moves make this the most visceral and exciting Total War ever.</li>
					<li>New epic campaign. The ambitious single player campaign will span three continents and let players sail across to the Americas to confront the Aztecs on their home soil.</li>
					<li>Greater accessibility. An enhanced user interface and optional shorter campaigns make the Total War experience faster and easier to enjoy than ever before.</li>
					<li>Over 40 new features. An advanced terrain system, enhanced weather effects, and more will help you divide and conquer.</li>
					<li>Intense Multiplayer Battles. Wage war against other players in 8-way multiplayer games across the Internet and LAN.</li></ul>

In [14]:
df_games.head()

,app_id,name,release_date,is_free,price_overview,languages,type
0,10,Counter-Strike,2000-11-01,0,"{""final"": 819, ""initial"": 819, ""currency"": ""EU...","English<strong>*</strong>, French<strong>*</st...",game
1,20,Team Fortress Classic,1999-04-01,0,"{""final"": 499, ""initial"": 499, ""currency"": ""EU...","English, French, German, Italian, Spanish - Sp...",game
2,30,Day of Defeat,2003-05-01,0,"{""final"": 499, ""initial"": 499, ""currency"": ""EU...","English, French, German, Italian, Spanish - Spain",game
3,40,Deathmatch Classic,2001-06-01,0,"{""final"": 499, ""initial"": 499, ""currency"": ""EU...","English, French, German, Italian, Spanish - Sp...",game
4,50,Half-Life: Opposing Force,1999-11-01,0,"{""final"": 499, ""initial"": 499, ""currency"": ""EU...","English, French, German, Korean",game

In [15]:
df_genres.head()

   app_id   genre
0      10  Action
1      20  Action
2      30  Action
3      40  Action
4      50  Action

In [32]:
df_promotional.head()

,app_id,header_image,background_image,screenshots,movies
0,10,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...,"[{""id"": 0, ""path_full"": ""https://shared.akamai...",N
1,20,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...,"[{""id"": 0, ""path_full"": ""https://shared.akamai...",N
2,30,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...,"[{""id"": 0, ""path_full"": ""https://shared.akamai...",N
3,40,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...,"[{""id"": 0, ""path_full"": ""https://shared.akamai...",N
4,50,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...,"[{""id"": 0, ""path_full"": ""https://shared.akamai...",N

In [17]:
df_reviews.head()

,app_id,review_score,review_score_description,positive,negative,total,metacritic_score,reviews,recommendations,steamspy_user_score,steamspy_score_rank,steamspy_positive,steamspy_negative
0,10,9,Overwhelmingly Positive,235403,6207,241610,88,N,153259,0,N,235397,6207
1,20,8,Very Positive,7315,1094,8409,N,N,6268,0,N,7314,1092
2,30,8,Very Positive,6249,672,6921,79,N,4146,0,N,6246,672
3,40,8,Very Positive,2542,524,3066,N,N,2218,0,N,2541,525
4,50,9,Overwhelmingly Positive,22263,1111,23374,N,N,20144,0,N,22260,1112

In [43]:
len(df_tags.app_id.unique())

117505

In [19]:
df_steamspy_insights.head()

,app_id,developer,publisher,owners_range,concurrent_users_yesterday,playtime_average_forever,playtime_average_2weeks,playtime_median_forever,playtime_median_2weeks,price,initial_price,discount,languages,genres
0,10,Valve,Valve,"10,000,000 .. 20,000,000",11457,0,0,0,0,999,999,0,"English, French, German, Italian, Spanish - Sp...",Action
1,20,Valve,Valve,"5,000,000 .. 10,000,000",52,0,0,0,0,499,499,0,"English, French, German, Italian, Spanish - Sp...",Action
2,30,Valve,Valve,"5,000,000 .. 10,000,000",82,0,0,0,0,499,499,0,"English, French, German, Italian, Spanish - Spain",Action
3,40,Valve,Valve,"5,000,000 .. 10,000,000",6,0,0,0,0,499,499,0,"English, French, German, Italian, Spanish - Sp...",Action
4,50,Gearbox Software,Valve,"2,000,000 .. 5,000,000",99,0,0,0,0,499,499,0,"English, French, German, Korean",Action